.CodeMirror {
  height: 45vh !important;
}

.header {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.code {
  color: aqua
}

.ide {
  color: blue;
}